        <div id="head" class="container-fluid  {{section}}" style="background-image:url({{banner}});">
            <div class="mask"></div>
            <div class="contenedor">
                <div class="section__header">
                    <h2 class="section__title animalo" data-animate-effect="fadeIn">{{text1}}</h2>
                    <p class="section__icon animalo" data-animate-effect="fadeIn"> --^⌄⌃⌄-- <i class="fas fa-user-md"></i> --⌄⌃⌄^-- </p>
                    <h3 class="section__subtitle animalo" data-animate-effect="fadeIn">{{text2}}</h3>
                </div>
            </div>
            <div class="{{con}} padin-bottom"></div>
        </div>